<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title"><%= category.name %></h5>
    <p class="cart-text"><%=category.description %></p>
    <a href="<%-category.url%>" class="btn btn-primary">Details</a>
  </div>
</div>
