<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">MechBoards Inventory</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/inventory/items">All Items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/inventory/categories">All Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/inventory/item/new">Add Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/inventory/category/new">Add Category</a>
    </li>
  </ul>
</nav>
