<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body class="container bg-light">
    <header><%- include('./partials/header') -%></header>
    <div class="container bg-light">
      <h2>Categories:</h2>
      <%- include('./partials/categoriesDisplay', {categories: categories}); %>
    </div>
  </body>
</html>
